.buildpath
.project
.settings
test.php
Invoice (backup).js
Lines (backup).js
*.log
js/deftjs/*
js/extjs/*
js/extjs/locale/*
js/extjs/resources/*
js/extjs/resources/css/*
js/extjs/resources/themes/*
js/extjs/resources/themes/images/*

# Ext JS files to include (for locale, only include locale files for languages we support)
!js/extjs/locale/
!js/extjs/locale/ext-lang-en.js
!js/extjs/resources/
!js/extjs/resources/css/
!js/extjs/resources/css/ext-all.css
!js/extjs/resources/css/ext-all-debug.css
!js/extjs/resources/themes/
!js/extjs/resources/themes/images/
!js/extjs/resources/themes/images/default/
!js/extjs/ext-all.js
!js/extjs/ext-all-dev.js