# Ignore test file in root
test.php

# Ignore config.php file (people will copy the sample file)
config/config.php

# Ignore site_config.xml file (people will copy the sample file)
config/site_config.xml

# Ignore some folders in the clients folder since they will contain user uploaded files
clients/*/web/*/
clients/*/web/images/logos/*
clients/*/web/images/print_pdf/*
!clients/*/web/images/

# Ignore composer files for now, not ready to use it yet
/composer.json
/composer.lock

# Ignore Phinx configuration file, the user should generate his/her own by running the command "phinx init"
/phinx.yml

# Ignore docs except the files needed for generating them
docs/*
!docs/generateJSDocs.bat
!docs/phpdoc.dist.xml
!docs/readme.txt

# Ignore all log files
*.log

#idea ignore
.idea/*