/* STYLES FOR PAGE HEADER */
#npHeaderLogo { cursor: pointer; }
#learningNexusImg { margin-right: 8px; cursor: pointer; }
#npHeaderRightLinks, #npHeaderRightLinks a { color: #FFFFFF; text-decoration: none; }
#npHeaderRightWelcomeText { margin-top: 8px; color: #9FCCFA; font-style:italic; }

/* BUTTONS */
.activate-btn { background-image: url("images/buttons/activate.gif"); }
.allocate-btn { background-image: url("images/buttons/allocate.gif"); }
.approve-btn { background-image: url("images/buttons/approve.gif"); }
.approve-next-btn { background-image: url("images/buttons/approve_next.gif"); }
.back-btn { background-image: url("images/buttons/back.gif"); }
.camera-btn { background-image: url("images/buttons/camera.gif"); }
.cancel-btn { background-image: url("images/buttons/cancel.gif"); }
.copy-btn { background-image: url("images/buttons/copy.gif"); }
.delete-btn { background-image: url("images/buttons/delete.gif"); }
.edit-btn { background-image: url("images/buttons/edit.gif"); }
.hold-activate-btn { background-image: url("images/buttons/hold_activate.gif"); }
.hourglass-btn { background-image: url("images/buttons/hourglass.gif"); }
.image-add-btn { background-image: url("images/buttons/image_add.gif"); }
.image-manage-btn { background-image: url("images/buttons/image_manage.gif"); }
.image-view-btn { background-image: url("images/buttons/image_view.gif"); }
.inactivate-btn { background-image: url("images/buttons/inactivate.gif"); }
.link-btn { background-image: url("images/buttons/link.gif"); }
.message-btn { background-image: url("images/buttons/message.gif"); }
.new-btn { background-image: url("images/buttons/new.gif"); }
.payment-btn { background-image: url("images/buttons/payment.gif"); }
.print-btn { background-image: url("images/buttons/print.gif"); }
.process-btn { background-image: url("images/buttons/process.gif"); }
.reclass-btn { background-image: url("images/buttons/reclass.gif"); }
.reject-btn { background-image: url("images/buttons/reject.gif"); }
.report-btn { background-image: url("images/buttons/report.gif"); }
.reset-btn { background-image: url("images/buttons/reset.gif"); }
.revert-btn { background-image: url("images/buttons/revert.gif"); }
.route-btn { background-image: url("images/buttons/route.gif"); }
.save-btn { background-image: url("images/buttons/save.gif"); }
.save-and-add-btn { background-image: url("images/buttons/save_and_add.gif"); }
.schedule-btn { background-image: url("images/buttons/schedule.gif"); }
.template-apply-btn { background-image: url("images/buttons/template_apply.gif"); }
.template-save-btn { background-image: url("images/buttons/template_save.gif"); }
.template-save-user-btn { background-image: url("images/buttons/template_save_user.gif"); }
.upload-btn { background-image: url("images/buttons/upload.gif"); }
.upload-sheet-btn { background-image: url("images/buttons/upload_sheet.gif"); }
.view-btn { background-image: url("images/buttons/view.gif"); }
.void-btn { background-image: url("images/buttons/void.gif"); }

/* STYLE FOR USING AN IMAGE AS A BUTTON IN A GRID BY SPECIFYING THIS AS tdCls CONFIG OPTION */
.image-button-cell .x-grid-cell-inner { padding-bottom: 0; }
	.image-button-cell .x-grid-cell-inner img { cursor: pointer; }

/* FORM ITEMS */
.x-form-item-label, .x-form-item-label-top { font-weight: bold; }
.x-form-required-field { background: repeat-x scroll 0 0 #DFE8F6; }

/* GRIDS */
.grid-clickable-col:hover { text-decoration:underline; cursor: pointer; }
.grid-invalid-cell { background-color: #F2C2C2 !important; }

/* this makes a summary grid cell bold */
.x-grid-row-summary .x-grid-cell-inner {
    font-weight: bold;
}

/* DISABLED FIELDS */
.x-item-disabled .x-form-item-label, .x-item-disabled .x-form-field, .x-item-disabled .x-form-cb-label, .x-item-disabled .x-form-trigger {
    opacity: 0.5;
}

/* CURSOR STYLE */
.pointer { cursor: pointer; }

/* BOXSELECT */
/* We need to override this style and make it !important to get the right size for a BoxSelect component in an editing grid */
.x-border-box .x-grid-editor .auto-complete .x-form-trigger, .x-border-box .x-grid-row-editor .auto-complete .x-form-trigger {
    height: 22px !important;
}

.x-border-box .x-grid-editor .auto-complete .x-boxselect-input-field {
	height: 16px !important;
}

/* This is to fix the issue where tabbing from previous field to boxselect will jump over it if no value is selected */
.x-boxselect-input .x-form-empty-field {
	display: inline;
}

.x-boxselect-list.x-boxselect-singleselect.form-focus .x-boxselect-input .x-form-empty-field {
	display: none;
}

.x-boxselect-emptyinput {
	display: inline !important;
}


/* GENERIC STYLES */
.error-text { color: #c0272b; font: normal 11px tahoma, arial, verdana, sans-serif; }

/* IMPORT SECTION */
.importTemplates a { color: #000; margin-left: 16px; }

/* INVOICE VIEW PAGE */
.invoiceViewPanel {
	margin: 4px 8px 4px 8px;
}

	.invoiceViewPanel .x-panel-body {
		background-color: white;
		padding         : 8px;
		border          : solid 1px #99BCE8;
	}

#lineItemTable {
	border-collapse: collapse;
}

	#lineItemTable th, #lineItemTable td {
		padding: 2px 6px;
		border : solid 1px #99BCE8;
	}

	#lineItemTable th, #lineItemTable tfoot td {
		font-weight     : bold;
		background-color: #E3E4E6;
	}

	#lineItemTable td {
		font-size     : 11px;
		vertical-align: top;
	}

	#lineItemTable td .taxableFlag {
		font-style: italic;
		color     : #18659C;
	}

	#lineItemTable td a {
		color     : #18659C;
	}

	#lineItemTable tfoot th, #lineItemTable tfoot td {
		text-align: right;
	}

	#lineItemTable tfoot th {
		text-transform: uppercase;
	}

	#lineItemTable tfoot th span {
		text-transform: none;
		font-style    : italic;
		font-weight   : normal;
		margin-right  : 16px;
	}

	#lineItemTable tfoot td input {
		text-align: right;
	}

#warningTable {
	border-collapse: collapse;
}

	#warningTable td {
		background-color: #ccc;
		padding         : 3px;
	}

	#warningTable .warning_title {
		font-weight: bold;	
	}