body { font-family: Arial,Helvetica; }

#entityPrintTable td, #entityPrintLines th, #entityPrintLines td, .logTable th, .logTable td { font-size: 10pt; padding:0; }
#entityPrintTable td { vertical-align: top; }
#entityPrintTable #vendorInfo { font-size: 14px; }
#entityPrintTable #clientShortName { font-size: 20pt; }
#entityPrintTable #propertyName { font-size: 12pt; }
#entityPrintTable td.blackLine { height: 1px; background-color: black; }
#entityPrintTable td.spacer { height:4px; }
#entityPrintLines {
	border-collapse: collapse;
	border-color   : black;
	border-width   : 0px 0px 1px 1px;
	border-style   : solid;
	margin-top     : 8px;
}
	#entityPrintLines th, #entityPrintLines td { padding: 2px; border-color: black; border-style: solid; }
	#entityPrintLines th { text-align: left; border-width: 1px 1px 1px 0px; }
	#entityPrintLines td { border-width: 0px 1px 0px 0px; }
	#entityPrintLines tfoot td, #entityPrintLines tfoot th { text-align: right; border-width: 1px 1px 1px 0px; }

.noteLabel { font-weight: bold; margin-top: 16px; }

.logTable { border-collapse: collapse; }
	.logTable th, .logTable td { border: solid 1px; padding: 2px 4px; }
	.logTable th { text-align: left; background-color: #ccc; }

.page-break {
	display         : block;
	clear           : both;
	page-break-after: always;
}

.infoblock {
	width         : 100%;
	margin        : 0 auto;
	padding-bottom: 8px;
}

.clientheader p{
	width      : 100%;
	margin     : 1em auto;
	font-family: Arial, Helvetica, Verdana, sans-serif;			
}

.heading{ padding:3px; }
.graybg{ background-color: #ddd; }

.po_data { width: #int(100/headerObjCount)#%; }
.po_data *{ font-size: 12px; padding-top: 2px; }

.boxes{ 
	height: 2em; clear:both; overflow: hidden; width: 100%; 
	border-right: 1px solid #666;
}
.boxes span{ 
	height: 2.75em;
	text-align:left; 
	float:left; 
	font-size:inherit; 
	border-left: 1px solid #666;
	border-bottom: 1px solid #666;
	width:<cfoutput>#int(100/max(headerObjCount,1)) - 1#</cfoutput>%;
}
.boxes .heading{ border-top: 1px solid #666; } 
.boxes .content{ height: 100%; }

.header .heading,
.header .content{
	border: 1px solid #999;
	padding: 3px;
	font-size: 18px;
	text-align: left;
}
.header .content{ border-top: none; padding-top: 5px; }

.fleft { float:left; margin:0; width:auto; }
.cleared { clear:both; margin:0; }