table { border-collapse: collapse; }

table thead { display: table-header-group; }

table th {
	background-color: #EEEEEE;
	font-size       : 12px;
	border-top      : solid 1px;
	border-bottom   : solid 1px;
}

table th, table td {
	padding  : 2px 4px 2px 4px;
}

table td { font-size: 12px; }

table tbody td {
	border-bottom: solid 1px #999999;
}