/* STYLES FOR PAGE HEADER */
#npHeaderLogo { cursor: pointer; }
#learningNexusImg { margin-right: 8px; cursor: pointer; }
#npHeaderRightLinks, #npHeaderRightLinks a { color: #FFFFFF; text-decoration: none; }
#npHeaderRightWelcomeText { margin-top: 8px; color: #9FCCFA; font-style:italic; }

/* BUTTONS */
.save-btn { background-image: url("../images/buttons/save.gif"); }
.save-and-add-btn { background-image: url("../images/buttons/save_and_add.gif"); }
.cancel-btn { background-image: url("../images/buttons/cancel.gif"); }
.back-btn { background-image: url("../images/buttons/back.gif"); }
.edit-btn { background-image: url("../images/buttons/edit.gif"); }
.new-btn { background-image: url("../images/buttons/new.gif"); }
.upload-btn { background-image: url("../images/buttons/upload.gif"); }
.camera-btn { background-image: url("../images/buttons/camera.gif"); }
.activate-btn { background-image: url("../images/buttons/activate.gif"); }
.inactivate-btn { background-image: url("../images/buttons/inactivate.gif"); }
.view-btn { background-image: url("../images/buttons/view.gif"); }
.hourglass-btn { background-image: url("../images/buttons/hourglass.gif"); }
.delete-btn { background-image: url("../images/buttons/delete.gif"); }
.message-btn { background-image: url("../images/buttons/message.gif"); }

/* STYLE FOR USING AN IMAGE AS A BUTTON IN A GRID BY SPECIFYING THIS AS tdCls CONFIG OPTION */
.image-button-cell .x-grid-cell-inner { padding-bottom: 0; }
	.image-button-cell .x-grid-cell-inner img { cursor: pointer; }

/* FORM ITEMS */
.x-form-item-label { font-weight: bold; }
.x-form-required-field { background: repeat-x scroll 0 0 #DFE8F6; }

/* GRIDS */
.grid-clickable-col:hover { text-decoration:underline; cursor: pointer; }

/* DISABLED FIELDS */
.x-item-disabled .x-form-item-label, .x-item-disabled .x-form-field, .x-item-disabled .x-form-cb-label, .x-item-disabled .x-form-trigger {
    opacity: 0.5;
}

/* IMPORT SECTION */
.importTemplates a { color: #000; margin-left: 16px; }