/* STYLES FOR PAGE HEADER */
#npHeaderLogo { cursor: pointer; }
#learningNexusImg { margin-right: 8px; cursor: pointer; }
#npHeaderRightLinks, #npHeaderRightLinks a { color: #FFFFFF; text-decoration: none; }
#npHeaderRightWelcomeText { margin-top: 8px; color: #9FCCFA; font-style:italic; }

/* BUTTONS */
.save-btn { background-image: url("../images/buttons/save.gif"); }
.save-and-add-btn { background-image: url("../images/buttons/save_and_add.gif"); }
.cancel-btn { background-image: url("../images/buttons/cancel.gif"); }
.back-btn { background-image: url("../images/buttons/back.gif"); }
.edit-btn { background-image: url("../images/buttons/edit.gif"); }
.new-btn { background-image: url("../images/buttons/new.gif"); }
.upload-btn { background-image: url("../images/buttons/upload.gif"); }
.camera-btn { background-image: url("../images/buttons/camera.gif"); }
.activate-btn { background-image: url("../images/buttons/activate.gif"); }
.inactivate-btn { background-image: url("../images/buttons/inactivate.gif"); }
.view-btn { background-image: url("../images/buttons/view.gif"); }
.hourglass-btn { background-image: url("../images/buttons/hourglass.gif"); }
.delete-btn { background-image: url("../images/buttons/delete.gif"); }
.message-btn { background-image: url("../images/buttons/message.gif"); }
.reset-btn { background-image: url("../images/buttons/reset.gif"); }
.allocate-btn { background-image: url("../images/buttons/allocate.gif"); }

/* STYLE FOR USING AN IMAGE AS A BUTTON IN A GRID BY SPECIFYING THIS AS tdCls CONFIG OPTION */
.image-button-cell .x-grid-cell-inner { padding-bottom: 0; }
	.image-button-cell .x-grid-cell-inner img { cursor: pointer; }

/* FORM ITEMS */
.x-form-item-label, .x-form-item-label-top { font-weight: bold; }
.x-form-required-field { background: repeat-x scroll 0 0 #DFE8F6; }

/* GRIDS */
.grid-clickable-col:hover { text-decoration:underline; cursor: pointer; }
.grid-invalid-cell { background-color: #F2C2C2 !important; }

/* this makes a summary grid cell bold */
.x-grid-row-summary .x-grid-cell-inner {
    font-weight: bold;
}

/* DISABLED FIELDS */
.x-item-disabled .x-form-item-label, .x-item-disabled .x-form-field, .x-item-disabled .x-form-cb-label, .x-item-disabled .x-form-trigger {
    opacity: 0.5;
}

/* CURSOR STYLE */
.pointer { cursor: pointer; }

/* BOXSELECT */
/* We need to override this style and make it !important to get the right size for a BoxSelect component in an editing grid */
.x-border-box .x-grid-editor .auto-complete .x-form-trigger, .x-border-box .x-grid-row-editor .auto-complete .x-form-trigger {
    height: 20px !important;
}

/* This is to fix the issue where tabbing from previous field to boxselect will jump over it if no value is selected */
.x-boxselect-emptyinput {
	display: block;
	position: absolute;
	left: -500px;
}

/* GENERIC STYLES */
.error-text { color: #c0272b; font: normal 11px tahoma, arial, verdana, sans-serif; }


/* INVOICE VIEW PAGE */
.invoiceViewPanel {
	margin: 4px 8px 4px 8px;
}

	.invoiceViewPanel .x-panel-body {
		background-color: white;
		padding         : 8px;
		border          : solid 1px #99BCE8;
	}

#lineItemTable th, #lineItemTable td {
	padding: 2px 6px;
	border : solid 1px #99BCE8;
}

#lineItemTable th {
	font-weight     : bold;
	background-color: #CCC;
}

#lineItemTable td {
	font-size     : 11px;
	vertical-align: top;
}