.uploadify {
    margin-left: 100px !important;
    margin-bottom: 0 !important;
}

.uploadify-queue-item{
    max-width: none !important;
}

.uploadify-queue-item .cancel a{
    background: url("/vendor/jquery-uploadify/uploadify-cancel.png") 0 0 no-repeat !important;
}